<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Eventos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarEventos">
            <form th:action="@{/guardar}" th:object="${eventos}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idEventos" th:field="*{idEventos}"/>
                <section th:replace="layout/botonesEditar :: botonesEditar"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.editar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">[[#{eventos.local}]]</label>
                                            <input type="text" class="form-control" name="local" 
                                                   required="true" th:field="*{local}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="visitante">[[#{eventos.visitante}]]</label>
                                            <input type="text" class="form-control" name="visitante" 
                                                   required="true" th:field="*{visitante}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="resultado">[[#{eventos.resultado}]]</label>
                                            <input type="text" class="form-control" name="resultado" 
                                                   required="true" th:field="*{resultado}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>
